{% extends "base.jinja2" %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block jumbotron %}
<h1>{{ website['PAGE_TITLE'] }}</h1>
<p>{{ website['PAGE_HEADLINE'] }}</p>
<!--<p><a class="btn btn-primary btn-lg" href="#" role="button">History of printed labels</a></p>-->
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-4">
        <fieldset class="form-group">
            <div class="accordion" id="accordion">

                <div class="card">
                    <div class="card-header" id="heading1">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            <span class="fas fa-file" aria-hidden="true"></span> Label Size
                        </button>
                    </div>
                    <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                        <div class="card-body">
                            <label for="labelSize" style="margin-bottom: 0">Label Size:</label>
                            <select class="form-control" id="labelSize" onChange="preview()">
                                {% for label_size in label_sizes %}<option value="{{label_size[0]}}" data-round="{{label_size[2]}}" {% if label['DEFAULT_SIZE'] == label_size[0] %}selected{% endif %}>{{label_size[1]}}</option>{% endfor %}
                            </select>

                            <label for="orientation" class="control-label input-group" style="margin-top: 10px; margin-bottom: 0">Label Orientation:</label>
                            <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                                <label class="btn btn-secondary" id="orientation_standard">
                                    <input type="radio" name="orientation" onchange="preview()" value="standard" aria-label="Standard" {% if default_orientation == 'standard' %}checked{% endif %}>
                                    <span class="fas fa-ruler-horizontal" aria-hidden="true"> Standard
                                </label>
                                <label class="btn btn-secondary" id="orientation_rotated">
                                    <input type="radio" name="orientation" onchange="preview()" value="rotated" aria-label="Rotated" {% if default_orientation == 'rotated' %}checked{% endif %}>
                                    <span class="fas fa-ruler-vertical" aria-hidden="true"> Rotated
                                </label>
                            </div>

                            <label for="printColor" class="control-label input-group" style="margin-top: 10px; margin-bottom: 0">Print Color:</label>
                            <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                                <label class="btn btn-dark" id="print_color_black">
                                    <input type="radio" name="printColor" onchange="preview()" value="black" aria-label="Black">Black
                                </label>
                                <label class="btn btn-danger" id="print_color_red">
                                    <input type="radio" name="printColor" onchange="preview()" value="red" aria-label="Red">Red
                                </label>
                            </div>

                        </div>
                        <!-- class="card-body" -->
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading2">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            <span class="fas fa-font" aria-hidden="true"></span> Font Settings
                        </button>
                    </div>
                    <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordion">
                        <div class="card-body">
                            <label for="fontFamily" style="margin-bottom: 0">Font Family:</label>
                            <select class="form-control" id="fontFamily" onChange="updateStyles()">
                                {% for font_family_name in font_family_names %}
                                    <option {% if label['DEFAULT_FONTS']['family'] == font_family_name %}selected{% endif %}>{{font_family_name}}</option>
                                {% endfor %}
                            </select>

                            <label for="fontStyle" style="margin-top: 10px; margin-bottom: 0">Font Style:</label>
                            <select class="form-control" id="fontStyle" onChange="preview()">
                            </select>

                            <label for="fontSize" style="margin-top: 10px; margin-bottom: 0">Font Size:</label>
                            <input id="fontSize" class="form-control" type="number" min="1" value="{{ label['DEFAULT_FONT_SIZE'] }}" onChange="preview()" required>

                            <label for="fontAlign" class="control-label input-group" style="margin-top: 10px; margin-bottom: 0">Font Alignment:</label>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary ">
                                    <input type="radio" name="fontAlign" onchange="preview()" value="left" aria-label="Left Align"><span class="fas fa-align-left" aria-hidden="true"></span>
                                </label>
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="fontAlign" onchange="preview()" value="center" aria-label="Center Align" checked=""><span class="fas fa-align-center" aria-hidden="true"></span>
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="fontAlign" onchange="preview()" value="right" aria-label="Right Align"><span class="fas fa-align-right" aria-hidden="true"></span>
                                </label>
                            </div>

                            <label for="lineSpacing" class="control-label input-group" style="margin-top: 10px; margin-bottom: 0">Line Spacing:</label>
                            <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                                {% for line_spacing in line_spacings %}
                                <label class="btn btn-secondary {% if default_line_spacing == line_spacing %}active{% endif %}" id="lineSpacing{{line_spacing}}">
                                    <input type="radio" name="lineSpacing" onchange="preview()" value="{{line_spacing}}" aria-label="{{line_spacing}}%" {% if default_line_spacing == line_spacing %}checked{% endif %}>{{line_spacing}}%
                                </label>
                                {% endfor %}
                            </div>

                        </div>
                        <!-- class="card-body" -->
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading4">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                            <span class="fas fa-qrcode" aria-hidden="true"></span> QR Code Settings
                        </button>
                    </div>
                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                        <div class="card-body">
                            <label for="qrCodeSize" style="margin-bottom: 0">QR Code Size:</label>
                            <input id="qrCodeSize" class="form-control" type="number" min="1" value="{{default_qr_size}}" onChange="preview()" required>

                            <label for="qrCodeCorrection" style="margin-top: 10px; margin-bottom: 0">Error Correction:</label>
                            <select class="form-control" id="qrCodeCorrection" onChange="preview()">
                                <option value="L">About 7% can be corrected.</option>
                                <option value="M">About 15% can be corrected.</option>
                                <option value="Q">About 25% can be corrected.</option>
                                <option value="H">About 30% can be corrected.</option>
                            </select>
                        </div>
                        <!-- class="card-body" -->
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading3">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            <span class="fas fa-cog" aria-hidden="true"></span> Detailed Settings
                        </button>
                    </div>
                    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                        <div class="card-body">
                            <label for="marginTop" style="margin-bottom: 0">Margin Top:</label>
                            <div class="input-group marginsTopBottom">
                                <input id="marginTop" class="form-control" type="number" min="0" max="200" value="24" onChange="preview()" aria-describedby="marginTop-addon" required>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="marginTop-addon">%</span>
                                </div>
                            </div>
                            <label for="marginBottom" style="margin-top: 10px; margin-bottom: 0">Margin Bottom:</label>
                            <div class="input-group marginsTopBottom">
                                <input id="marginBottom" class="form-control" type="number" min="0" max="200" value="45" onChange="preview()" aria-describedby="marginBottom-addon" required>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="marginBottom-addon">%</span>
                                </div>
                            </div>
                            <label for="marginLeft" style="margin-top: 10px; margin-bottom: 0">Margin Left:</label>
                            <div class="input-group marginsLeftRight">
                                <input id="marginLeft" class="form-control" type="number" min="0" max="200" value="35" onChange="preview()" aria-describedby="marginLeft-addon" required>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="marginLeft-addon">%</span>
                                </div>
                            </div>
                            <label for="marginRight" style="margin-top: 10px; margin-bottom: 0">Margin Right:</label>
                            <div class="input-group marginsLeftRight">
                                <input id="marginRight" class="form-control" type="number" min="0" max="200" value="35" onChange="preview()" aria-describedby="marginRight-addon" required>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="marginRight-addon">%</span>
                                </div>
                            </div>
                        </div>
                        <!-- class="card-body" -->
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-4">
        <label for="printType" class="control-label input-group" style="margin-bottom: 0">Print Type:</label>
        <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
            <label class="btn btn-secondary active" id="printTypeText">
                <input type="radio" name="printType" onchange="preview()" value="text" aria-label="Text" checked>
                <span class="fas fa-font" aria-hidden="true"></span><br>Text
            </label>
            <label class="btn btn-secondary" id="printTypeQrCode">
                <input type="radio" name="printType" onchange="preview()" value="qrcode" aria-label="Text">
                <span class="fas fa-qrcode" aria-hidden="true"></span><br>QR Code
            </label>
            <label class="btn btn-secondary" id="printTypeQrCodeText">
                <input type="radio" name="printType" onchange="preview()" value="qrcode_text" aria-label="QR Code + Text">
                <span class="fas fa-qrcode" aria-hidden="true"></span><br>QR Code+Text
            </label>
            <label class="btn btn-secondary" id="printTypeImage">
                <input type="radio" name="printType" onchange="preview()" value="image" aria-label="Image">
                <span class="fas fa-image" aria-hidden="true"></span><br>Image
            </label>
        </div>

        <fieldset class="form-group" id="groupLabelText">
            <label for="labelText" style="margin-top: 10px; margin-bottom: 0">Label Text:</label>
            <textarea rows="7" id="labelText" class="form-control" onChange="preview()" onInput="preview()"></textarea>
        </fieldset>
        <fieldset class="form-group" id="groupLabelImage">
            <label style="margin-top: 10px; margin-bottom: 0">Label Image:</label>
            <form class="dropzone" id="my-awesome-dropzone">
            </form>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset class="form-group">
            <label for="previewImg" style="margin-bottom: 0">Label Preview:</label><br />
            <img id="previewImg" style="border: 1px solid #ced4da; max-height: 350px; width: auto; max-width: 100%; margin-bottom: 10px;" />
            <p>Printed size w/o margins: <span id="labelWidth">?</span> cm x <span id="labelHeight">?</span> cm</p>

            <div class="form-group">
                <label for="printCount" style="margin-top: 10px; margin-bottom: 0">Print Count:</label>
                <input id="printCount" class="form-control" type="number" min="1" max="100" value="1" required>
            </div>

            <div class="btn-group btn-block">
                <button type="button" id="printButton" class="btn btn-block btn-primary btn-lg" onClick="print()">
                    <span class="fas fa-print" aria-hidden="true"></span> Print
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="dropdownPrintButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownPrintButton">
                    <a class="dropdown-item" href="#" onClick="print(true)">Cut only once</a>
                </div>
            </div>

        </fieldset>
        <div class="card">
            <div class="card-header">
                <span class="fas fa-terminal" aria-hidden="true" style="margin-right: 0.3em"></span> Status
            </div>
            <div id="statusPanel" class="card-body">
                <div id="statusBox" class="alert alert-secondary" role="alert"><span>Idle...</span></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
function formData(cut_once) {
    var text = $('#labelText').val();
    if (text == '') text = ' ';
    return {
        text:        text,
        font_family: $('#fontFamily option:selected').text(),
        font_style:  $('#fontStyle option:selected').text(),
        font_size:   $('#fontSize').val(),
        label_size:  $('#labelSize option:selected').val(),
        align:       $('input[name=fontAlign]:checked').val(),
        orientation: $('input[name=orientation]:checked').val(),
        margin_top:    $('#marginTop').val(),
        margin_bottom: $('#marginBottom').val(),
        margin_left:   $('#marginLeft').val(),
        margin_right:  $('#marginRight').val(),
        print_type:    $('input[name=printType]:checked').val(),
        qrcode_size:   $('#qrCodeSize').val(),
        qrcode_correction: $('#qrCodeCorrection option:selected').val(),
        print_count:       $('#printCount').val(),
        print_color:       $('input[name=printColor]:checked').val(),
        line_spacing:      $('input[name=lineSpacing]:checked').val(),
        cut_once:          cut_once ? 1 : 0,
    }
}

function updatePreview(data) {
    $('#previewImg').attr('src', 'data:image/png;base64,' + data);
    var img = $('#previewImg')[0];
    img.onload = function() {
        $('#labelWidth').html( (img.naturalWidth /{{default_dpi}}*2.54).toFixed(1));
        $('#labelHeight').html((img.naturalHeight/{{default_dpi}}*2.54).toFixed(1));
    };
}

function updateStyles() {
    font_familiy = $('#fontFamily option:selected').text()

    $.ajax({
        type:        'POST',
        url:         '/api/font/styles',
        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        data:        {font: font_familiy},
        success: function( data ) {
            var styleSelect = $('#fontStyle');
            styleSelect.empty();
            $.each(data, function (key, value) {
                styleSelect.append($("<option></option>")
                    .attr("value", key).text(key));
                if ('Book,Regular'.includes(key)) {
                    styleSelect.val(key);
                }
            });
            styleSelect.trigger("change");
        }
    });
}

function preview() {
    if ($('#labelSize option:selected').data('round') == 'True') {
        $('img#previewImg').addClass('roundPreviewImage');
    } else {
        $('img#previewImg').removeClass('roundPreviewImage');
    }

    if ($('input[name=orientation]:checked').val() == 'standard') {
        $('.marginsTopBottom').prop('disabled', false).removeAttr('title');
        $('.marginsLeftRight').prop('disabled', true).prop('title', 'Only relevant if rotated orientation is selected.');
    } else {
        $('.marginsTopBottom').prop('disabled', true).prop('title', 'Only relevant if standard orientation is selected.');
        $('.marginsLeftRight').prop('disabled', false).removeAttr('title');
    }

    if ($('#labelSize option:selected').val().includes('red')) {
        $('#print_color_black').removeClass('disabled');
        $('#print_color_red').removeClass('disabled');
    } else {
        $('#print_color_black').addClass('disabled').prop('active', true);
        $('#print_color_red').addClass('disabled');
    }

    if($('input[name=printType]:checked').val() == 'image') {
        $('#groupLabelText').hide();
        $('#groupLabelImage').show()
    } else {
        $('#groupLabelText').show();
        $('#groupLabelImage').hide();
    }

    if($('input[name=printType]:checked').val() == 'image') {
        dropZoneMode = 'preview';
        imageDropZone.processQueue();
        return;
    }

    $.ajax({
        type:        'POST',
        url:         '/api/preview?return_format=base64',
        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        data:        formData(),
        success: function( data ) {
            updatePreview(data);
        }
    });
}

function setStatus(data) {
    if (data['success']) {
        $('#statusPanel').html('<div id="statusBox" class="alert alert-success" role="alert"><i class="fas fa-check"></i><span>Printing was successful.</span></div>');
    } else {
        $('#statusPanel').html('<div id="statusBox" class="alert alert-warning" role="alert"><i class="fas fa-exclamation-triangle"></i><span>Printing was unsuccessful:<br />'+data['message']+'</span></div>');
    }
    $('#printButton').prop('disabled', false);
    $('#dropdownPrintButton').prop('disabled', false);
}

function print(cut_once = false) {
    $('#printButton').prop('disabled', true);
    $('#dropdownPrintButton').prop('disabled', true);
    $('#statusPanel').html('<div id="statusBox" class="alert alert-info" role="alert"><i class="fas fa-hourglass-half"></i><span>Processing print request...</span></div>');

    if($('input[name=printType]:checked').val() == 'image') {
        dropZoneMode = 'print';
        imageDropZone.processQueue();
        return;
    }

    $.ajax({
        type:     'POST',
        dataType: 'json',
        data:     formData(cut_once),
        url:      '/api/print',
        success:  setStatus,
        error:    setStatus
    });
}

updateStyles();
preview()


var imageDropZone;
Dropzone.options.myAwesomeDropzone = {
    url: function() {
        if (dropZoneMode == 'preview') {
            return "/api/preview?return_format=base64";
        } else {
            return "/api/print";
        }
    },
    paramName: "image",
    acceptedFiles: 'image/png,image/jpeg,application/pdf',
    maxFiles: 1,
    addRemoveLinks: true,
    autoProcessQueue: false,
    init: function() {
        imageDropZone = this;

        this.on("addedfile", function() {
            if (this.files[1] != null) {
                this.removeFile(this.files[0]);
            }
        });
    },

    sending: function(file, xhr, data) {
        // append all parameters to the request
        fd = formData(false);

        $.each(fd, function(key, value){
            data.append(key, value);
        });
    },

    success: function(file, response) {
        // If preview or print was successfull update the previewpane or print status
        if (dropZoneMode == 'preview') {
            updatePreview(response);
        } else {
            setStatus(response);
        }
        file.status = Dropzone.QUEUED;
    },

    accept: function(file, done) {
        // If a valid file was added, perform the preview
        done();
        preview();
    },

    removedfile: function(file) {
        file.previewElement.remove();
        preview();
        // Insert a dummy image
        updatePreview('iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=');
    }
};

{% endblock %}